<html xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <head>
        <link rel="icon" href="images/faviconCamera.ico">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" media="screen"/>

        <!-- Scripts -->
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <meta charset="UTF-8">
        <title>Welkom op onze Violations pagina</title>
    </head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading"><h5>Welkom op onze ViolationDetector Website</h5></div>
                <div class="panel-body">
                    <p>
                        Lijst van alle <a href="/violation/allViolation.show">violations</a>
                    </p>
                    <p>
                        <a href="/settings/settings.do">Change settings for Processor</a>
                    </p>
                    <p>
                        <a href="/startStop/start">start queue</a>
                    </p>
                    <p>
                        <a href="/startStop/stop">stop queue</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>>