<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="images/faviconCamera.ico">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${processorSettingsDTO.emissionFineFactor}">$</p>
<p th:text="${processorSettingsDTO.speedingFineFactor}">$</p>
<p th:text="${processorSettingsDTO.timeFrameBufferingSegments}">$</p>
<p th:text="${processorSettingsDTO.timeFrameDoubleEmission}">$</p>
<p th:text="${processorSettingsDTO.retryDelay}">$</p>
<p th:text="${processorSettingsDTO.retryCount}">$</p>
</body>
</html>
